.account {
    margin-left: 200px; 
    display: flex;
    flex-direction: column;
}

.account-header {
    padding: 20px;
}

.account-details{
    padding: 0 20px 20px 20px;
}

.account-details a {
    color: #007bff; 
    text-decoration: none;
    margin-right: 10px;
  }
  
  .account-details a:hover {
    text-decoration: underline;
  }
  
  