.sidebar-container {
    display: flex;
    flex-direction: row;
    width: 30%; /* Ensure the container takes up the full width */
}

.primary-bar {
    order: 1;
    width: 50%;
    margin: 0;
    padding: 0;
}

.secondary-bar {
    left: 0;
    order: 2;
    width: 50%;
    margin: 0;
    padding: 0; 
}